---
import ProseLayout from "../layouts/ProseLayout.astro";
import Newsletter from "../components/newsletter.astro";
import axios, { AxiosError } from "axios";
import { NEWSLETTER_LOOPS_API } from "astro:env/server"


if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const email = formData.get("email") as string;

  if (!email) {
    return Astro.redirect(
      `/?error=${encodeURIComponent("Please enter an email")}`
    );
  }
const api=NEWSLETTER_LOOPS_API;

  const formBody = `email=${encodeURIComponent(email)}`;

  try {
    const response = await axios.post(
     api,
      formBody,
      {
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
        },
      }
    );
    console.log(response.data); // Assuming you want to log the response data
  } catch (error) {
    const e = error as AxiosError;
    console.error("Error while submitting newsletter form:", e.response?.data);
    return Astro.redirect(
      `/?error=${encodeURIComponent("Failed to submit newsletter form")}`
    );
  }

  return Astro.redirect("/?registered=true");
}

---

<ProseLayout  class="text-black">
  <h1 class="text-black">hola martians!</h1>
  <p class="text-black">
    — a second brain for next generation makers to get things done.
  </p>
  <p class="text-black">
    blazingly fast, built in rust.
  </p>
  <p class="text-black">
    we have a satellite version ( open source) for those who like adventures, to contribute/play around—  <a class="text-black" href="mailto: satellite@march.cat" target="_blank">mailto: satellite@march.cat</a> or visit our <a class="text-black" href="https://github.com/marchhq" target="_blank">github</a>  page.
  </p>

  <p class="text-black">btw, we make <a class="text-black" href="https://x.com/_marchhq" target="_blank">memes</a> too :)</p>
  <Newsletter />
</ProseLayout>
