---

---

<div class="flex gap-5 text-gray-">
  <a
    target="_blank"
    href="https://x.com/_marchhq"
    class="hover:text-gray-600 transition-colors duration-3000"
  >
  <i class="fa-brands fa-x-twitter"></i>
  </a>
  <a
    target="_blank"
    href="https://discord.gg/sugJGckV86"
    class="hover:text-gray-600 transition-colors duration-3000"
  >
  <i class="fa-brands fa-discord"></i>
  </a>
</div>
