---
import DocsLayout from "./DocsLayout.astro";
---

<DocsLayout {...Astro.props}>
  <div class="prose prose-neutral prose-h1:text-black prose-a:text-black pb-20 prose-invert text-black">
    <slot />
  </div>
</DocsLayout>
